 html, body {
    height: 100%;
  }

  body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #3b3d3f;
  }

  .form-signin {
    max-width: 550px;
    padding: 15px;
  }
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .done {
    background-color: #395169;
    border-radius: 3px;
  }

  .done h5{
    color: #FFF;
    text-decoration: line-through;
    font-style: italic;
  }